.header {
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color:rgb(53, 138, 138);
    padding-left: 4%;
    padding-right: 3%;

}

.header_menu {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding-top: 2%;
    padding-left: 200px;
    
}
.menu_link_add {
    padding-left: 65px;
    padding-top: 5px;
    color: black;
    text-decoration-line: none;

}

.menu_link {
    text-align: center;
    padding-top: 5px;
    color: black;
    text-decoration-line: none;
}
.menu_link:hover {
    background-color: #a9ecec;
    box-shadow: 10px 10px 10px rgb(8, 8, 8);
    color: black;
    
}

.menu_link_add:hover {
    background-color: #a9ecec;
    box-shadow: 1px 1px 10px rgb(8, 8, 8);
    color: black;

   
}